.thumbs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16;
}

.thumb {
  display: inline-flex;
  border-radius: 2;
  border: 1px solid #000;
  margin-bottom: 8;
  margin-right: 8;
  width: 80;
  height: 100;
  padding: 4;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dz-img {
  display: block;
  margin: 0 auto;
  width: 60% !important;
  height: 100% !important;
}
