.edit {
  display: inline-block;
  position: absolute;
  right: 1px;
  bottom: 2px;
}
.mmr-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card {
  width: 60vw;
  margin: 20px 0px;
}

.relative {
  position: relative;
}
.no-margin {
  margin: 0px !important;
}
