.edit {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.mmr-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card {
  width: 60vw;
  margin: 20px 0px;
}
